html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.background_cabecalho{
    background-image: url(../img/Background.png);
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flexbox{
    display: flex;
    flex-flow: column; 
    justify-content: space-between;
    min-height: 750px;
}

.subtitulo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.logo {
    text-align: center;
}

.logo p {
    font-size: 70px;
    color: white;
    font-variant: all-petite-caps;
    font-family: 'bebas neue', serif;
    position: relative;
    top: 25px;
}

.logo img {
    width: 25%;
}

.chamada {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-family: 'poppins', sans-serif;
    line-height: 1;
    font-size: 30px;
    font-weight: 300;
}

.animate__animated.animate__slower {
    animation-duration: calc(var(--animate-duration)*11);
}

.nota {
    background-color: black;
    height: 250px;
    box-shadow: 0 0 30px 30px #000;
}

.nota p {
    width: 60%;
    margin: auto;
    padding-top: 50px;
    font-size: 18px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .background_cabecalho{
        height: 800px;
    }

    .flexbox{
        min-height: 600px;
    }

    .logo img {
        width: 35%;
    }

    .chamada {
        font-size: 25px;
        padding-top: 30px;
    }

    .nota {
        height: 270px;
    }

    .nota p {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .flexbox{
        min-height: 600px;
    }

    .logo img {
        width: 45%;
    }

    .chamada {
        font-size: 23px;
        padding-top: 30px;
    }

    .nota {
        height: 350px;
    }
}

@media screen and (max-width: 425px) {
    .background_cabecalho{
        height: 650px;
    }

    .flexbox{
        min-height: 450px;
    }

    .subtitulo {
        padding-top: 35px;
        font-size: 15px;
    }

    .logo img {
        width: 60%;
    }

    .logo p {
        font-size: 40px;
        color: white;
        font-variant: all-petite-caps;
        font-family: 'bebas neue', serif;
        position: relative;
        top: 25px;
    }

    .chamada {
        font-size: 22px;
        padding-top: 25px;
        width: 80%;
        margin: auto;
    }

    .nota {
        height: 500px;
    }

    .nota p {
        padding-top: 30px;
        width: 75%;
    }
}